{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/andrea-therapist.jpg" alt="andrea the therapist" class="img-fluid img-thumbnail mx-auto d-block" >
                <h2>Andrea Johnson</h2>
                <p>Andrea Johnson specializes in Swedish Massage makes you feel good. It is heavy pressure in targeted areas.Deep Tissue Massage
                    makes you feel good. It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good.
                    It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure
                    in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure in targeted
                    areas.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">

                <a href="/booking" class="btn btn-success">Book A Massage</a>
            </div>
        </div>
    </div>

{{end}}
