{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Deep Tissue Massage</h2>
                <p>Deep Tissue Massage makes you feel good. It is heavy pressure in targeted areas.Deep Tissue Massage
                    makes you feel good. It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good.
                    It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure
                    in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure in targeted
                    areas.</p>
            </div>
        </div>
    </div>

{{end}}