{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Lymphatic Massage</h2>
                <p>Lymphatic Massage deals with healing your energy. It is the lightest massage possible.Lymphatic
                    Massage deals with healing your energy. It is the lightest massage possible.Lymphatic Massage deals
                    with healing your energy. It is the lightest massage possible.Lymphatic Massage deals with healing
                    your energy. It is the lightest massage possible.Lymphatic Massage deals with healing your energy.
                    It is the lightest massage possible.</p>
            </div>
        </div>
    </div>
{{end}}