{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mt-3">Search for Availability</h1>
                <form action="/search-availability" method="post" novalidate class="needs-validation">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <select class="form-select" name="therapist" aria-label="Default select example">
                                        <option selected>Select a therapist</option>
                                        <option>Andrea Johnson</option>
                                        <option>Italo Zafron</option>
                                        <option>Elle McAllister</option>
                                    </select>
                                </div>
                                <div class="col" data-date="01/25/2020">
                                    <label>
                                        <input required type="text" autocomplete="off" class="flatpicker form-control"
                                               name="book-date"
                                               placeholder="Booking Date">
                                    </label>
                                </div>
                                <div id="calendar">

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-info">Search Availability</button>
                </form>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
    <script>
        const elem = document.getElementsByClassName('flatpicker');
        const fp = flatpickr(elem, {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "d-m-Y",
            allowInput: true,
            minDate: "today",


        });
    </script>

    <script>
        // const lem = document.getElementsByClassName('timepicker');
        // const tp = flatpickr(lem, {
        //     enableTime: true,
        //     noCalendar: true,
        //     timeFormat: "H:i",
        //     minTime: "07:00",
        //     minuteIncrement: 30,
        //     wrap: true
        // })
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new Calendar(calendarEl, {
                plugins: ["timeGrid", "interaction"],
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "timeGridFourDay"
                },
                defaultView: "timeGridFourDay",
                views: {
                    timeGridFourDay: {
                        type: "timeGrid",
                        duration: {days: 4},
                        buttonText: "4 day"
                    }
                },
                slotLabelFormat: {
                    hour: "numeric",
                    minute: "2-digit",
                    omitZeroMinute: true,
                    meridiem: "short"
                },
                allDaySlot: false,
                firstDay: 1,
                minTime: "08:00:00",
                maxTime: "20:00:00",
                contentHeight: "auto",
                slotDuration: "00:20:00",
                selectable: true,
                select: function (info) {
                    //console.log(info);
                    calendar.addEvent({"title": "Test", start: info.start, end: info.end})
                    calendar.unselect();
                },
                selectOverlap: false,
                selectAllow: function (selectInfo) {
                    var stM = moment(selectInfo.start);
                    var enM = moment(selectInfo.end);
                    var diff = enM.diff(stM, "minutes");
                    console.log(diff);
                    return diff <= 20;

                },
                events: [
                    {"title": "Existing event", "start": "2019-08-08 10:00", "end": "2019-08-08 10:20"},
                    {"title": "Existing event", "start": "2019-08-08 13:20", "end": "2019-08-08 13:40"},
                ]
            });

            calendar.render();
        });
    </script>


{{end}}
