{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Swedish Massage</h2>
            <p>Swedish Massage makes you feel good. It is not heavy pressure.Swedish Massage makes you feel good. It
                is not heavy pressure.Swedish Massage makes you feel good. It is not heavy pressure.Swedish Massage
                makes you feel good. It is not heavy pressure.Swedish Massage makes you feel good. It is not heavy
                pressure.</p>
        </div>
    </div>
</div>
{{end}}