{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row text-center">
            <div class="col">

                <img src="/static/images/andrea-therapist.jpg" alt="andrea the therapist"
                     class="img-fluid img-thumbnail mx-auto d-block">

                <h2>Andrea Johnson</h2>
                <p>Andrea Johnson specializes in Swedish Massage makes you feel good. It is heavy pressure in targeted
                    areas.Deep Tissue Massage
                    makes you feel good. It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good.
                    It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure
                    in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure in targeted
                    areas.</p>
            </div>
            <div class="col">

                <img src="/static/images/italo-therapist.jpg" alt="andrea the therapist"
                     class="img-fluid img-thumbnail mx-auto d-block">

                <h2>Italo Zafron</h2>
                <p>Italo Zafron specializes in Lymphatic Tissue Massage makes you feel good. It is heavy pressure in
                    targeted areas.Deep Tissue Massage
                    makes you feel good. It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good.
                    It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure
                    in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure in targeted
                    areas.</p>
            </div>
            <div class="col">

                <img src="/static/images/vinicus-therapist.jpg" alt="andrea the therapist"
                     class="img-fluid img-thumbnail mx-auto d-block">

                <h2>Elle McAllister</h2>
                <p>Elle McAllister specializes in Deep Tissue Massage makes you feel good. It is heavy pressure in
                    targeted areas.Deep Tissue Massage
                    makes you feel good. It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good.
                    It is heavy pressure in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure
                    in targeted areas.Deep Tissue Massage makes you feel good. It is heavy pressure in targeted
                    areas.</p>
            </div>
        </div>
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Book A Massage</a>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById("check-availability-button").addEventListener("click", function () {
            let html = `
                <form id="check-availability-form" action="" method="get"  novalidate class="needs-validation">
                    <div class="form-row md-6">

                            <div class="form-row" id="reservation-dates-modal">
                                <div class="col">
                                    <select type="text" class="form-select mb-3" aria-label=".form-select-lg" name="start"  id="start" placeholder="Arrival">
                                        <option selected>Select A Therapist</option>
                                        <option>Andrea Johnson</option>
                                        <option>Italo Zafron</option>
                                        <option>Elle McAllister</option>
                                    </select>
                                </div>
                                    <div>
                                <div class="col">
                                    <input autocomplete="off" id="book-date" required type="text" class="form-control" name="booking-date" placeholder="Book Date">
                                </div>
</div>
                            </div>

                    </div>
                </form>
    `;
            attention.dropCustom({
                msg: html,
                title: "Choose A Therapist and Date",
                willOpen: () => {
                    const elem = document.querySelector("input[name='booking-date']")
                    const fp = new flatpickr(elem, {
                        altInput: true,
                        altFormat: "F j, Y",
                        dateFormat: "Y-m-d",
                        allowInput: true,
                        minDate: "today"
                    })
                },
                callback: function (result) {
                    let form = document.getElementById('check-availability-form')
                    let formData = new FormData(form)
                    formData.append("csrf_token", "{{.CSRFToken}}")

                    fetch('/search-availability-json', {
                        method: "post",
                        body: formData,
                    })
                    .then(res => (res.json()))
                    .then(data => {
                        console.log(data)
                        console.log(data.ok)
                        console.log(data.message)
                    })
                }
            })
        })


    </script>

{{end}}

