{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="/massage-therapists/andrea">
                <img src="/static/images/andrea-therapist.jpg" alt="andrea the therapist" class="img-fluid img-thumbnail mx-auto d-block" >
                </a>
            </div>
            <div class="col">
                <a href="/massage-therapists/italo">
                <img src="/static/images/italo-therapist.jpg" alt="andrea the therapist" class="img-fluid img-thumbnail mx-auto d-block" >
                </a>
            </div>
            <div class="col">
                <a href="/massage-therapists/elle">
                <img src="/static/images/vinicus-therapist.jpg" alt="andrea the therapist" class="img-fluid img-thumbnail mx-auto d-block" >
                </a>
            </div>
        </div>
    </div>


{{end}}